<!doctype html>
<html>
<title>Flaskr</title>
<head>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="static/app.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=page>
    <h1>Hello World!</h1>
<button onclick="json_button()">Json Message</button>
<button onclick="alert_button()">Alert Message</button>
</div>
<div><p id="log"></div>
</body>
</html>
